@model List<CartItem>

<h2>Оформлення замовлення</h2>

<table>
    <thead>
        <tr>
            <th>Назва</th>
            <th>Кількість</th>
            <th>Ціна</th>
            <th>В сумі</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@item.TotalPrice</td>
                
            </tr>
        }
    </tbody>
    
</table>
<p>Загальна сума: @Model.Sum(i => i.TotalPrice) грн</p>
<form method="post" action="@Url.Action("ConfirmOrder", "Order")">
    <input type="text" name="address" placeholder="Ваша адреса" required>
    <input type="text" name="phoneNumber" placeholder="Телефон" required>
    <input type="text" name="costumername" placeholder="Ім'я" required>
    
    <button type="submit">Замовити</button>
</form>
